#ui-datepicker-div{
    margin-top: 0px;
}
.error small, small.error {
    background: none repeat scroll 0 0 #C60F13;
    color: #FFFFFF;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 0.688em;
    padding: 0.375em 0.25em;
}


/* popup form css
------------------------------------------------------------------------*/
.leave-insert-dialog{
    background-color: #FFF;
    border: 1px solid #CCC;
    -moz-box-shadow:5px 5px 5px #888;
    -webkit-box-shadow:5px 5px 5px #888;
    box-shadow:5px 5px 5px #888;
    left: 40%;
    position: fixed;
    top: 20%;
    z-index: 999;
}
.fc-grid .fc-day-number {
    margin-right: -5px;
    margin-top: -5px;
}
.ui-autocomplete  {
	z-index: 9999;
}
#calendar-container .fc-header-title h2 {
	font-size: 16px !important;
}
.leave-insert-dialog .form-table td {
    padding: 5px;
}

.leave-insert-dialog .title{
    padding: 10px;
    border-bottom: 2px solid #888888;
}

.leave-insert-dialog .body{
    padding: 10px;
}

.leave-insert-dialog .controls{
    padding: 10px;
    border-top: 1px solid #888888;
}

.hide{
    display: none;
}
/** Leave listing **/
.leave-lists .approved {
	background-image: url("images/correct-icon.png");
	background-repeat: no-repeat;
    background-position: 50% center;
	text-indent: -9999px;  
}
.leave-lists .rejected  {
	background-image: url("images/cross-icon.png");
	background-repeat: no-repeat;
    background-position: 50% center;
	text-indent: -9999px;  
}
.deletepostlink {
	color: #C60F13;
}
#form-add-leave ul.rt-form-radio  {
	right: 8.33333%;
}
#form-add-leave ul.rt-form-radio li {
	list-style: none;
}

/*** Table **/
table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: none repeat scroll 0 0 #f9f9f9;
}
table.requests-lists, table.leave-lists   {
	border: 1px solid #eaeaea;
}
.person-avatar img  {
	border-radius: 50%;
}
tr.lists-header th:nth-child(4) {
	text-align: center;
}